.content {
  flex-direction: column;
  gap: 2rem;
}

.superior, .courses {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  flex: 1;
}

.superior ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.courses > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.superior__item,
.courses__item .title {
  display: flex;
  flex-direction: column;

  font-weight: 400;
}

.superior__item span,
.courses__item .title span {
  font-size: 0.75rem;
  font-weight: 200;
}

.courses__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  min-width: 0;
}

.courses__item div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.courses__item.large {
  grid-column: span 3;
}
